<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>General</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Distance Unit</string>
			<key>Titles</key>
			<array>
				<string>Miles</string>
				<string>Kilometers</string>
			</array>
			<key>Key</key>
			<string>distanceUnit</string>
			<key>DefaultValue</key>
			<string>miles</string>
			<key>Values</key>
			<array>
				<string>miles</string>
				<string>km</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
